.sixthPage-home-section-one-main-container {
  /* background-image: url("../../assets/Product-feldspar/Rectangle.png"); */
  background-size: cover;
  background-position: center;
  height: 580px;
  display: flex;
  align-items: start;
  position: relative;
  margin-top: 80px;
}

.sixthPage-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11, 18, 28, 0.5);
  z-index: 0;
}

.sixthPage-home-banner-text-container {
  padding-top: 100px;
}

.sixthPage-home-section-one-banner-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 53px; 
  color: #ffffff;
  margin-top: 100px;
}

.sixthPage-home-section-one-sub-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
  
}

@media(max-width:992px){
  .sixthPage-home-section-one-main-container {
    min-height: 400px;
    margin-top: 0px;
  }
  .sixthPage-home-banner-text-container{
    padding-top: 60px;
  }
  .sixthPage-home-section-one-banner-heading {
    font-size: 40px;
    margin-top: 100px;
  }
}


@media (max-width: 768px) {

  .sixthPage-home-section-one-banner-heading{
    font-size: 40px;
  }
  .sixthPage-home-section-one-sub-heading{
    font-size: 20px;
  } 
}
@media (max-width: 425px) {
  .sixthPage-home-section-one-banner-heading{
    font-size: 32px;
  }
  .sixthPage-home-section-one-sub-heading{
    font-size: 16px;
  } 
}

/*-----------------------------------------Second-section------------------------------*/
.sixthPage-journey-section {
  margin:  3px 0px 0px 0px !important; 
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden; /* prevents unwanted scroll only here */
}

.sixthPage-journey-section .row,
.sixthPage-journey-section .col-lg-6 {
  margin: 0 !important;
  padding: 0 !important;
}

.sixthPage-green-container {
  background-color: #ffffff;
  height: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding-left: 40px;
  padding-right: 40px;
}

.sixthPage-green-container-heading {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #0B121C;
  font-style: normal;
}
.feldspar-page-section-two-image-stying{
  height: 500px;
  width:100%;
}
@media(max-width:992px){
  .feldspar-page-section-two-image-stying{
    height: 300px;
    width: 100%;
    /* margin-top: 10px; */
  }
}

.sixthPage-green-container-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #000000;
  font-style: normal;
}

.sixthPage-green-container-text {
  margin-bottom: 0px;
}

.sixthpage-third-section-heading{
  font-size: 35px;
}
@media (max-width: 768px) {
  .sixthPage-green-container-heading {
    font-size: 35px;
    margin-top: 0px;
  }

.sixthPage-green-container-text {
  font-size: 14px;
}
  .sixthPage-green-container {
    padding: 20px;
  }
}

/*--------------------------------------third-section--------------------------*/
.sixthPage-third-section-card {
  padding: 14px 18px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: #0B121C;
}

@media (max-width: 500px) {
  .sixthPage-third-section-card {
    font-size: 12px;
    padding: 14px 10px;
  }
}

.feldspar-video-container{
  height: 400px;
  width: 100%;
}
@media(max-width:768px){
  .feldspar-video-container{
    height: 300px;
  }
}

