.location-section-one{
    /* background-image: url("../../assets/location-1/locationBanner.png"); */
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
@media(max-width:992px){
    .location-section-one { 
        margin-top: 0px;
        /* min-height: 400px; */
    }
    .location-section-one-video{
        min-height: 400px;
    }
}
/*--------------------------------------------second-section---------------*/
.location-second-section-main-container{
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 100px;
}
.location-second-main-heading{
    font-family: "Inter",sans-serif;
    font-size: 30px;
    font-weight: 300;
    color:#000000;
    text-align: center;
}
.location-contact-container {
  background-color: #fff;
}

.location-contact-item {
  max-width: 350px;
  margin: 0 auto;
}

.location-icon {
  width: 20px;
  height: 20px;
}

.location-title {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #000;
}

.location-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-weight: 400;
  line-height: 1.6;
}
@media(max-width:922px){
    .location-second-section-main-container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media(max-width:768px){
  .location-second-section-main-container{
      padding-top: 30px;
      padding-bottom: 30px;
  }
    .location-contact-item{
        margin-bottom: 40px;
    }
}