.contact-us-first-main-container {
    /* background-image: url("../../assets/Contact us/contactBanner.png"); */
    background-size: cover;         /* Always cover the container */
    width: 100%;   /* Full width */ 
    height: 580px;  
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 70px;
}
@media(max-width:768px){
    .contact-us-first-main-container {
      min-height: 400px;
      margin-top: 0px;
    }
        
}
.contact-us-banner-main-heading{
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 53px;
}


.seventhPage-home-section-one-banner-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 53px;
  color: #ffffff;


}

.seventhPage-home-section-one-sub-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;

}
@media(max-width:1024px){
  .contact-us-first-main-container {
    padding-left: 30px;
  }
}
@media(max-width:768px){
  .contact-us-first-main-container {
    height: 300px; 
    padding-left: 30px;
  }
  .seventhPage-home-section-one-banner-heading {

    font-size: 40px;
  }
  .seventhPage-home-section-one-sub-heading{

    font-size: 24px;
  }
}
@media(max-width:425px){
    .contact-us-first-main-container {
      padding-left: 10px;
    }
    .seventhPage-home-section-one-banner-heading {
    font-size: 32px;
  }
  .seventhPage-home-section-one-sub-heading{
    font-size: 16px;
  }

}
/*-----------------------------------------------second-section------------------------*/
.contact-us-second-main-container{
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact-item {
  max-width: 350px;
  margin: 0 auto;
}

.contact-icon {
  width: 20px;
  height: 20px;
}

.contact-title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
}

.contact-text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .contact-us-second-main-container{
    padding-top: 40px;
    padding-bottom: 0px;
}
  .contact-item {
    margin-bottom: 30px;
  }
}
/*-----------------------------------------------third-section------------------------*/
.contact-us-third-section{
    /* padding-top: 60px; */
    padding-bottom: 60px;
}
.contact-us-directions-main-container{
    background-color: #F4F4F4;
    padding: 30px 40px 30px 30px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.directions-main-heading{
    font-family: "Inter",sans-serif;
    font-weight: 700;
    color: #222222;
    font-size: 24px;
    margin-bottom: 30px;
}
.contact-enquiry-input-styling{
    height: 40px;
    width: 100%;
    background-color:#ffffff;
    border-radius: 1px;
    border: 1px solid #F4F4F4;
    padding-left: 20px;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #A9A9A9;
    font-size: 14px;
    margin-bottom: 8px;
}
.contact-enquiry-input-styling:focus {
  outline: none; /* ensure no outline on focus */
  border-color: #ccc; /* optional: keep border consistent */
  box-shadow: none;   /* removes extra glow in some browsers */
}
.text-area-styling{
    height: auto;
}
.text-area-styling::placeholder{
    padding-top: 30px;
}
.enquiry-send-button-styling{
    height: 40px;
    width: 92px;
    background-color: #FFC000;
    border-width: 0px;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 10px;
}
@media(max-width:768px){
  .contact-us-third-section{
    padding-top: 20px;
    padding-bottom: 20px;
}
    .contact-us-directions-main-container{
        padding: 20px 40px 20px 20px; 
    }
}