/* --------------------------- Base Styles --------------------------- */
.seventhPage-home-section-one-main-container {
  /* background-image: url("../../assets/product-clay/banner.png"); */
  background-size: cover;
  background-position: center;
  height: 580px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  margin-top: 80px;
}

.seventhPage-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11, 18, 28, 0.5);
  z-index: 0;
}

.seventhPage-home-banner-text-container {
  padding-top: 100px;
}

.seventhPage-home-section-one-banner-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 53px;
  color: #ffffff;
  margin-top: 100px;
}

.seventhPage-home-section-one-sub-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}

/* ---------------------- Second Section --------------------- */
.seventhPage-journey-section {
  margin:  3px 0px 3px 0px !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

.seventhPage-journey-section .row,
.seventhPage-journey-section .col-lg-6 {
  margin: 0 !important;
  padding: 0 !important;
}

.seventhPage-journey-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.seventhPage-green-container {
  background-color: #253373;
  height: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  padding-right: 40px;
}

.seventhPage-green-container-heading {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #ffffff;
  font-style: normal;
}

.seventhPage-green-container-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  color: #ffffff;
  font-style: normal;
}

.seventhPage-green-container-sub-heading {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
}

.seventhPage-green-container-each-point {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 200;
  color: #ffffff;
  font-style: normal;
}

/* ---------------------- Third Section --------------------- */
.seventhPage-third-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 80px;
  flex-wrap: wrap;
  gap: 30px;
}

.seventhPage-third-section-left {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seventhPage-third-section-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 58px;
  letter-spacing: 0px;
  color: #0B121C;
  margin: 0;
  text-align: left;
}

.seventhPage-third-section-right {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.seventhPage-third-section-card {
  padding: 14px 18px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: #0B121C;
}

/* ---------------------- Fourth Section --------------------- */
.seventhPage-fourth-section-main-container {
  /* background-image: url("../../assets/product-clay/jcb.png"); */
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-image 0.3s ease;
}

.seventhPage-fourth-section-main-container.seventhPage-video-playing {
  background-image: none;
  background-color: #000;
}

.seventhPage-fourth-section-play-icon {
  cursor: pointer;
  z-index: 2;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seventhPage-fourth-section-full-video {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}

.seventhPage-fourth-section-close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

/* ---------------------- Fifth Section --------------------- */
.fourthPage-fifth-section-main-container {
  /* background-image: url("../../assets/Product-Quartz/thumb.png"); */
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-image 0.3s ease;
}

.fourthPage-fifth-section-main-container.fifthPage-video-playing {
  background-image: none;
  background-color: #000;
}

.fourthPage-fifth-section-play-icon {
  cursor: pointer;
  z-index: 2;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourthPage-fifth-section-full-video {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}

.fourthPage-fifth-section-close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background: transparent;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  z-index: 3;
}

/* ---------------------- Responsive Styles --------------------- */

@media(max-width:992px){
  .seventhPage-home-section-one-main-container {
    min-height: 400px;
    margin-top: 0px;
  }
  .seventhPage-home-banner-text-container{
    padding-top: 60px;
  }
  .seventhPage-home-section-one-banner-heading {
    font-size: 40px;
    margin-top: 100px;
  }
}

/* ===== Tablet (max-width: 768px) ===== */
@media (max-width: 768px) {

  /* Hero Section */

  .seventhPage-home-banner-text-container {
    text-align: start;
  }

  .seventhPage-home-section-one-sub-heading {
    font-size: 20px;
  }

  /* Journey Section */
  .seventhPage-green-container {
    padding: 40px 30px;
    text-align: start;
    align-items: start;
  }
  .seventhPage-journey-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
  .seventhPage-green-container-heading {
    font-size: 32px;
  }

  .seventhPage-green-container-text {
    font-size: 14px;
  }

  .seventhPage-green-container-sub-heading {
    font-size: 15px;
  }

  /* Third Section */
  .seventhPage-third-section-container {
    padding: 40px 40px;
    flex-direction: column;
    align-items: center;
  }

  .seventhPage-third-section-heading {
    font-size: 26px;
    text-align: center;
    line-height: 40px;
  }

  .seventhPage-third-section-card {
    font-size: 12.5px;
    padding: 12px 14px;
    text-align: justify;
  }

  /* Fourth & Fifth Section */
  .seventhPage-fourth-section-main-container,
  .fourthPage-fifth-section-main-container {
    height: 300px;
  }
  .fourthPage-fifth-section-play-icon {
    height: 300px;
  }
}

/* ===== Mobile (max-width: 425px) ===== */
@media (max-width: 425px) {

  /* Hero Section */
  .seventhPage-home-banner-text-container {
    padding-top: 120px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
  }

  .seventhPage-home-section-one-banner-heading {
    font-size: 32px;
    margin-top: 20px;
    line-height: 38px;
  }

  .seventhPage-home-section-one-sub-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .seventhPage-journey-image {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  /* Journey Section */
  .seventhPage-green-container {
    padding: 20px;
    text-align: start;
  }

  .seventhPage-green-container-heading {
    font-size: 26px;
  }

  .seventhPage-green-container-text {
    font-size: 13px;
  }

  .seventhPage-green-container-sub-heading {
    font-size: 14px;
  }

  .seventhPage-green-container-each-point {
    font-size: 12px;
  }

  /* Third Section */
  .seventhPage-third-section-container {
    padding: 40px 20px;
  }

  .seventhPage-third-section-heading {
    font-size: 22px;
    line-height: 32px;
  }

  .seventhPage-third-section-card {
    font-size: 12px;
    padding: 10px 12px;
    text-align: justify;
  }

  /* Fourth & Fifth Section */
  .seventhPage-fourth-section-main-container,
  .fourthPage-fifth-section-main-container {
    height: 300px;
  }
}
.claypage-temp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  background-color: #505b8e;
  text-align: center;
  padding: 50px;
  margin-bottom: 3px;
}
.temp-heading{
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;

}