.secondPage-home-section-one-main-container {
    background-image: url("../../assets/about us/IMG_6776 1.png");
    background-size: cover;
    background-position: center;
    height: 580px;
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.secondPage-home-section-one-banner-heading {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 53px;
    color: #ffffff;
}
.secondPage-home-section-one-sub-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
}
@media (max-width:992px) {
    .secondPage-home-section-one-main-container{
        min-height: 400px;
        height: 320px;
        margin-top: 0px;
    }
}
@media (max-width:768px) {
    .secondPage-home-section-one-banner-heading {
        font-size: 40px;
    }
    .secondPage-home-section-one-sub-heading {
        font-size: 20px;
    }
    
}
@media (max-width:426px) {
    .secondPage-home-section-one-banner-heading {
        font-size: 32px;
    }
    .secondPage-home-section-one-sub-heading {
        font-size: 16px;
    }
}
.secondPage-home-section-two-main-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.secondPage-second-section-main-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #0B121C;

}
.secondPage-second-section-sub-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #0B121C;
}
@media(max-width:768px) {
    .secondPage-home-section-two-main-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .secondPage-second-section-sub-heading {
        margin-top: 30px;
    }
    .secondPage-second-section-main-heading {
        font-size: 30px;
            margin-top: 10%;
    }
}
@media(max-width:426px) {
      .secondPage-second-section-main-heading {
            margin-top: 0px;
    }  
}

.secondPage-second-page-third-section {
    background-color: #505b8e;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 500px;
}
.secondPage-second-page-third-section-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    color: #ffffff;
    margin-top: 0px;
}
.secondPage-second-page-third-section-sub-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
}
.secondPage-second-page-third-section-text-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
.secondPage-second-page-third-section-text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
}


.secondPage-journey-section {
    margin: 0 !important; 
    padding: 0 !important;
    width: 100%;
    overflow-x: hidden;
}
.secondPage-journey-section .row,
.secondPage-journey-section .col-lg-6 {
    margin: 0 !important;
    padding: 0 !important;
}
.journey-section-image-styling{
    height: 500px;
    width: 100%;
}
@media(max-width:992px){
    .journey-section-image-styling{
        height: 300px;
        width: 100%;

    }
}
.secondPage-green-container {
    background-color: #000;
    height: 500px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 40px;
}
.secondPage-green-container-heading {
    font-family: "Inter", sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #ffffff;
    font-style: normal;
}
.secondPage-green-container-sub-heading {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    font-style: normal;
}
.secondPage-green-container-text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    color: #ffffff;
    font-style: normal;
}
@media(max-width:768px) {
    .secondPage-green-container-heading {
        font-size: 25px;
       
    }
    .secondPage-green-container {
        padding:20px;
        height: auto;
        
    }
}

/*-----------------------------------------------------Fourth Section---------------------------------- */
.secondPage-blue-container {
    background-color: gray;
}

/* Sixth Section */
.secondPage-sixth-section-main-container {
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}
.secondPage-sixth-section-main-container .secondPage-main-heading {
    font-family: "Inter", sans-serif;
    font-size: 41px;
    font-weight: 400;
    color: #0B121C;
    font-style: normal;
    text-align: center;
}
.secondPage-sixth-section-sub-heading {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0B121C;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}
.secondPage-stat-value {
    font-family: 'Inter', sans-serif;
    color: #253373;
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 8px;
}
.secondPage-stat-label {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
}
.secondPage-stats-caption {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #A3A3A3;
}
.secondPage-stats-col {
    position: relative;
    padding: 20px 10px;
}
.secondPage-stat-divider {
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background: #ddd;
}
@media (max-width: 768px) {
    .secondPage-sixth-section-main-container .secondPage-main-heading {
        font-size: 25px;
    }
    
    .secondPage-stat-divider {
        display: none;
    }
    .secondPage-stat-value {
        font-size: 20px;
    }
    .secondPage-stat-label {
        font-size: 14px;
    }
    .secondPage-stats-caption{
        font-size: 16px;
    }
}

/* Seventh Section */
.secondPage-seven-section-main-container {
    background-color: #F8F8F8;
  
}
.secondPage-seven-section-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondPage-seven-section-main-heading {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #253373;
    font-size: 50px;
}
.secondPage-seven-section-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    margin-top: 20px;
}
@media(max-width:768px) {
    .secondPage-seven-section-main-heading {
        text-align: center;
        margin-top: -50px;
        font-size: 40px;
    }
    .secondPage-seven-section-text {
        text-align: center;
        font-size: 16px;
    }
    .secondPage-seven-section-main-container {
        padding-top: 0px;
        padding-bottom: 40px;
    }
}
